.home {
    .nav-bar {
        top: 0;
        position: sticky;
        z-index: 2;
       
    }
    .navbar-nav a {
        color:#888 !important;
        padding-left: .58rem;
        cursor: pointer;
        text-decoration: none;
        

    }
    a:hover {
        color: #999 !important;
    }
    
}